.number-bg-image {
    background-image: url('../../assets/bg.jpg');
    background-size: cover;
    background-position: center;
    padding: 3rem 1rem;
    color: white;
}

.icon-main-div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFA500;
}

.icon--uper-div {
    padding: 4px;
    border: 2px solid white;
}

.title-color-number {
    color: #FFA500;
}

.value-text-number {
    font-size: 1.5rem;
}

@media (max-width: 576px) {
    .number-bg-image {
        padding: 2rem 1rem;
        background-position: center;
    }

    .icon--uper-div {
        padding: 8px;
    }

    .value-text-number {
        font-size: 1.25rem;
    }
}
