/* General styles */
.footer {
    background-color: #343a40; 
    color: white; 
    /* padding: 1rem 1rem;  */
    width: auto;
}

/* Styles for each column */
.col {
    margin-bottom: 2rem; 
}
.icon-color-footer{
    color: #FFA500;
}

/* Styles for the main container with background color */
.main-container {
    background-color: #FFA500;
    padding: 1rem; 
}

.main-container h1 {
    font-weight: 600; 
}

/* Icon box styles */
.icon-box {
    background-color: #FFA500;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    width: 3rem;
    /* border-radius: 50%;  */
}

.icon-box i {
    color: white;
    font-size: 1.5rem; 
    padding: 5px;
    border: 1px solid white;
}

/* Input and button styles */
.input-box {
    margin-top: 1rem; 
    display: flex;
    align-items: center;
}

.input-box input {
    height: 3rem;
    width: 100%; 
    margin-right: 0.5rem; 
}

.input-box button {
    height: 3rem;
    width: 30%; 
    border-radius: 0; 
}
.footer-contaoner{
    display: flex;
    align-items: center;
    justify-content:center;
}
.NEWSLETTER-MARGIN{
    margin-bottom: 6rem;
}
.font-family-footer {
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {

    .footer-contaoner {
        padding: 10%;
    }
    .footer {
        padding: 1rem; 
    }

    .col {
        margin-bottom: 1rem; 
    }

    .main-container {
        width: auto; 
    }

    .input-box input {
        width: 80%; 
    }

    .input-box button {
        width: 40%; 
    }
}
