/* .DiscounrCard {
    background-color: #FFA500;
    color: #fff;
}

.DiscounrCard-title {
    font-weight: bold;
}

.DiscounrCard-body {
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

.discount-section {
    background-color: #333;
    color: #fff;
} */

#Discount-bg-image{
    background-image: url('/src/assets/bg.jpg');
    background-size: cover;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.DiscountCard-bg-color{
    background-color: #FFA500;
}
.DiscountCard-bg-color a {
    text-decoration: none;
}
.font-faimily-discount{
    font-family: 'Oswald', sans-serif;
}
.btn-order-bg-color-banner{
    background-color: #FFA500;
}