#banner-img{
    background-image: url('/src/assets/hero.jpg');
    background-size: cover;
}
.font-faimily{
    font-family: 'Oswald', sans-serif;
    font-size: 2rem;
}
.font-size-cakezone{
    font-size: 4rem;
    font-family: 'Oswald', sans-serif;
}
.headings-font-family-banner{
    font-family: 'Pacifico', cursive;
    color: #FFA500;
}

.btn-bg-color-banner{
    background-color: #FFA500;
}
.play-icon-color{
    padding: 20px;
    border-width: 12px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.play-icon-color i{
    color: #FFA500;
    font-size: 16px;
}